body {
  box-sizing: border-box;
  
  font-size: 16px;

  height: 100vh;
  width: 100vw;

  background-image: linear-gradient(to right top, #7de5ed, #7bdfee, #7adaed, #7bd4ed, #7dceeb, #7ac9e9, #78c3e7, #77bee5, #70b8e3, #69b3e0, #63adde, #5da7db);
}
